.machines-page {
  margin: 30px auto;
  padding: 20px;
}

table {
  width: 100%;
  margin-top: 20px;
}

button {
  margin-bottom: 20px;
}

tr[mat-row] {
  cursor: pointer;
  transition: background-color 0.3s ease-in;

  &:hover {
    background-color: #f5f5f5;
  }
}
